@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700");
*, *:before, *:after {
  box-sizing: border-box;
}

/* body {
  padding: 24px;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
} */

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
.img{
    width: 50px;
    
}

.container {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  
  padding: 80px 0px 0px 0px;
    justify-content: center;
    align-items: flex-start;
  min-height: 100vh;
}

.table {
  width: 100%;
}

.table-header {
  display: flex;
  border-radius: 16px 16px 0px 0px;
  width: 100%;
  background-color: #343a40;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.table-row {
  display: flex;
  width: 100%;
  padding: 18px 0;
}
/* .table-row:nth-of-type(odd) {
  background: #EEEEEE;
} */
.table-row {
  background: #EEEEEE;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: capitalize;
}

.table-data, .header__item {
  flex: 1 1 20%;
  height: 6rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__item {
  text-transform: uppercase;
}

.filter__link {
  color: white !important;
  background-color: #343a40  !important;
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding-left: 24px;
  padding-right: 24px;
}
.filter__link::after {
  content: "";
  position: absolute;
  right: -18px;
  color: white;
  font-size: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.filter__link.desc::after {
  content: "(desc)";
}
.filter__link.asc::after {
  content: "(asc)";
}